In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [10]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [12]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

d:\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [16]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [17]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 9ms/step - loss: 101062.6094 - mae: 101062.6094 - val_loss: 98508.8047 - val_mae: 98508.8047
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99410.6406 - mae: 99410.6406 - val_loss: 96881.5703 - val_mae: 96881.5703
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 98965.7188 - mae: 98965.7188 - val_loss: 92717.8047 - val_mae: 92717.8047
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 92351.9219 - mae: 92351.9219 - val_loss: 85817.3984 - val_mae: 85817.3984
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 85694.8984 - mae: 85694.8984 - val_loss: 77044.3828 - val_mae: 77044.3828
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 76333.6562 - mae: 76333.6562 - val_loss: 68117.5625 - val_mae: 68117.5625
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 67336.5781 - mae: 67336.5781 - val_loss: 60625.6094 - val_mae: 60625.6094
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 59708.0000 - mae: 59708.0000 - val_loss: 55486.6602 - val_mae: 55486.6602
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 55184.4844 - mae: 55184.4844 - val_loss: 52695.7617 - val_mae: 52695.7617
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51831.3125 - mae: 51831.3125 - val_loss: 51568.3047 - val_mae: 51568.3047
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51189.6406 - mae: 51189.6406 - val_loss: 51142.6602 - val_mae: 51142.6602
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50192.1875 - mae: 50192.1875 - val_loss: 50972.2383 - val_mae: 50972.2383
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50287.1680 - mae: 50287.1680 - val_loss: 50889.5938 - val_mae: 50889.5938
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50378.4922 - mae: 50378.4922 - val_loss: 50833.3828 - val_mae: 50833.3828
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49842.3867 - mae: 49842.3867 - val_loss: 50778.3789 - val_mae: 50778.3789
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 50151.3320 - mae: 50151.3320 - val_loss: 50727.8125 - val_mae: 50727.8125
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 50051.1719 - mae: 50051.1719 - val_loss: 50688.8867 - val_mae: 50688.8867
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50020.9531 - mae: 50020.9531 - val_loss: 50653.5430 - val_mae: 50653.5430
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49870.1914 - mae: 49870.1914 - val_loss: 50621.5898 - val_mae: 50621.5898
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50334.3516 - mae: 50334.3516 - val_loss: 50595.8867 - val_mae: 50595.8867
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50125.5312 - mae: 50125.5312 - val_loss: 50566.1992 - val_mae: 50566.1992
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50411.0781 - mae: 50411.0781 - val_loss: 50547.6758 - val_mae: 50547.6758
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50246.8281 - mae: 50246.8281 - val_loss: 50542.4219 - val_mae: 50542.4219
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50038.8594 - mae: 50038.8594 - val_loss: 50508.9062 - val_mae: 50508.9062
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50318.7852 - mae: 50318.7852 - val_loss: 50489.2422 - val_mae: 50489.2422
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49765.3203 - mae: 49765.3203 - val_loss: 50475.5273 - val_mae: 50475.5273
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49626.6211 - mae: 49626.6211 - val_loss: 50457.4336 - val_mae: 50457.4336
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49908.5078 - mae: 49908.5078 - val_loss: 50447.2305 - val_mae: 50447.2305
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49132.8516 - mae: 49132.8516 - val_loss: 50431.1992 - val_mae: 50431.1992
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49687.3867 - mae: 49687.3867 - val_loss: 50419.7422 - val_mae: 50419.7422
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 48921.4102 - mae: 48921.4102 - val_loss: 50410.4023 - val_mae: 50410.4023
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 50006.5195 - mae: 50006.5195 - val_loss: 50392.0703 - val_mae: 50392.0703
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49828.0859 - mae: 49828.0859 - val_loss: 50382.8750 - val_mae: 50382.8750
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49909.6641 - mae: 49909.6641 - val_loss: 50389.8203 - val_mae: 50389.8203
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 49631.2148 - mae: 49631.2148 - val_loss: 50388.5352 - val_mae: 50388.5352
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49904.5859 - mae: 49904.5859 - val_loss: 50371.7109 - val_mae: 50371.7109
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 48769.4023 - mae: 48769.4023 - val_loss: 50367.2852 - val_mae: 50367.2852
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49517.3320 - mae: 49517.3320 - val_loss: 50369.3477 - val_mae: 50369.3477
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49296.5039 - mae: 49296.5039 - val_loss: 50370.5273 - val_mae: 50370.5273
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49332.5078 - mae: 49332.5078 - val_loss: 50355.9609 - val_mae: 50355.9609
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 49859.7383 - mae: 49859.7383 - val_loss: 50345.7773 - val_mae: 50345.7773
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 49319.8945 - mae: 49319.8945 - val_loss: 50338.9609 - val_mae: 50338.9609
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49606.9336 - mae: 49606.9336 - val_loss: 50354.5586 - val_mae: 50354.5586
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49992.3086 - mae: 49992.3086 - val_loss: 50337.3672 - val_mae: 50337.3672
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49537.4844 - mae: 49537.4844 - val_loss: 50351.8633 - val_mae: 50351.8633
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 48947.5234 - mae: 48947.5234 - val_loss: 50351.0312 - val_mae: 50351.0312
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49761.5742 - mae: 49761.5742 - val_loss: 50345.1055 - val_mae: 50345.1055
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49321.2070 - mae: 49321.2070 - val_loss: 50329.4336 - val_mae: 50329.4336
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49688.3125 - mae: 49688.3125 - val_loss: 50337.6953 - val_mae: 50337.6953
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49997.1133 - mae: 49997.1133 - val_loss: 50348.8477 - val_mae: 50348.8477
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49539.7695 - mae: 49539.7695 - val_loss: 50337.5391 - val_mae: 50337.5391
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 48809.9258 - mae: 48809.9258 - val_loss: 50322.1641 - val_mae: 50322.1641
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49155.3945 - mae: 49155.3945 - val_loss: 50321.8984 - val_mae: 50321.8984
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49874.8477 - mae: 49874.8477 - val_loss: 50321.5508 - val_mae: 50321.5508
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49130.1680 - mae: 49130.1680 - val_loss: 50329.2070 - val_mae: 50329.2070
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49535.7422 - mae: 49535.7422 - val_loss: 50306.8320 - val_mae: 50306.8320
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 48920.6875 - mae: 48920.6875 - val_loss: 50308.4805 - val_mae: 50308.4805
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49832.1797 - mae: 49832.1797 - val_loss: 50315.5586 - val_mae: 50315.5586
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49416.9219 - mae: 49416.9219 - val_loss: 50309.2695 - val_mae: 50309.2695
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49069.1250 - mae: 49069.1250 - val_loss: 50317.1484 - val_mae: 50317.1484
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49149.0000 - mae: 49149.0000 - val_loss: 50322.3086 - val_mae: 50322.3086
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49956.3516 - mae: 49956.3516 - val_loss: 50315.4023 - val_mae: 50315.4023
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49002.2461 - mae: 49002.2461 - val_loss: 50299.5078 - val_mae: 50299.5078
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49201.5273 - mae: 49201.5273 - val_loss: 50299.2344 - val_mae: 50299.2344
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49591.5156 - mae: 49591.5156 - val_loss: 50315.2539 - val_mae: 50315.2539
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49189.1914 - mae: 49189.1914 - val_loss: 50310.7266 - val_mae: 50310.7266
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49927.4648 - mae: 49927.4648 - val_loss: 50307.4844 - val_mae: 50307.4844
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - loss: 49431.8945 - mae: 49431.8945 - val_loss: 50306.3047 - val_mae: 50306.3047
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 48991.6094 - mae: 48991.6094 - val_loss: 50296.1406 - val_mae: 50296.1406
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49460.5938 - mae: 49460.5938 - val_loss: 50310.0703 - val_mae: 50310.0703
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49405.7578 - mae: 49405.7578 - val_loss: 50317.5430 - val_mae: 50317.5430
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49307.7539 - mae: 49307.7539 - val_loss: 50307.5234 - val_mae: 50307.5234
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 48942.2148 - mae: 48942.2148 - val_loss: 50315.9727 - val_mae: 50315.9727
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49671.0859 - mae: 49671.0859 - val_loss: 50298.6328 - val_mae: 50298.6328
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49151.6914 - mae: 49151.6914 - val_loss: 50298.4531 - val_mae: 50298.4531
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49562.2461 - mae: 49562.2461 - val_loss: 50297.4414 - val_mae: 50297.4414
Epoch 77/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49046.5781 - mae: 49046.5781 - val_loss: 50321.2969 - val_mae: 50321.2969
Epoch 78/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 49240.4375 - mae: 49240.4375 - val_loss: 50312.9688 - val_mae: 50312.9688
Epoch 79/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 48869.8906 - mae: 48869.8906 - val_loss: 50310.4492 - val_mae: 50310.4492

In [18]:
%load_ext tensorboard

In [19]:
%tensorboard --logdir regressionlogs/fit

In [20]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51111.7695 - mae: 51111.7695
Test MAE : 50296.140625

In [21]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.